<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To-do-list-VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .completedIsTrue{
          text-decoration: line-through;
        }
        .completedIsFalse{
          text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="toDo container">

    <ul>
        <li v-for='(value, index) in items'
        :class="{'completedIsTrue':items[index].completed,
        'completedIsFalse':!items[index].completed}">
          <input type="checkbox"
          @click='completeItem(index);'>
            <button
            title="Ctrl + click to show/hide, click to apply changes.
(If you want hide & save Ctrl + click will work)" 

            comment='^^!!! Tabulation above made intendly for better display on UI !!!^^
            --!!! Yes, I know about <!-- -->  !!!--'

            @click='editItem(index)'
            @click.ctrl.exact='showEditItem(index)'>
            edit
          </button>

              <input type="text"
               v-model='items[index].editItemValue'
               v-if="items[index].isShowed"
               placeholder="Enter text">
                 {{ value.text }}
          <button @click='deleteItem(index)'>delete</button>
        </li>
    </ul>

        <div>
            <input type="text"
             v-model='newItemValue'
             placeholder="Enter text">
            <button @click='addItem'>Add</button>
        </div>
      </div>

      <script>
      const app = new Vue({
  el: '.toDo',

  data: {
    items:[],
    newItemValue:'',
    genetareId:1 
  },

  methods:{
      addItem(){
        if(this.newItemValue === ''){
            return
        }
        this.items.push({
             id: this.genetareId++,
             text: this.newItemValue.trim(),
             editItemValue: '',
             isShowed: false,
             completed: false
         });
        this.newItemValue = '';
      },

      deleteItem(index){
          this.items.splice(index, 1);
      },

      editItem(index){
        if(this.items[index].editItemValue === ''){
            return
        }
          this.items[index].text=this.items[index].editItemValue.trim();
      },

      showEditItem(index){
        this.items[index].isShowed = !this.items[index].isShowed;
        console.log(this.items[index].isShowed);
      },

      completeItem(index){
         this.items[index].completed = !this.items[index].completed;
         console.log(this.items[index].completed);
      }
  
  }
})

      </script>
</body>
</html>